<ion-content [fullscreen]="true" class="ion-padding">
  <div>
      <ion-icon name="checkmark-circle-outline"></ion-icon>
  </div>
  <div class="ion-text-center">
      <h3>Your order has been accepted</h3>
      <ion-label color="medium">Your order has been placed and is an it's way to being processed</ion-label>
  </div>
</ion-content>

<ion-footer class="ion-no-border ion-margin-bottom">
  <ion-toolbar>
    <ion-button color="success" expand="block" (click)="navigateToTrackOrder()">Track Order</ion-button>
    <div class="ion-text-center ion-margin-top">
      <ion-label class="cursor-pointer"><strong>My orders</strong></ion-label>
    </div>
  </ion-toolbar>
</ion-footer>
