<ion-header [translucent]="true">
    <ion-toolbar color="success">
      <ion-title class="ion-text-center">
        Ibizzo
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="ion-padding">
    <div>
      <ion-label><strong>Forgot password</strong></ion-label>
    </div>
  
    <div class="ion-margin-top">
      <ion-label color="medium">Enter your email</ion-label>
    </div>
  
    <div class="ion-margin-top">
      <form [formGroup]="forgotPasswordForm">
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" autocomplete="of"></ion-input>
        </ion-item>
  
        <div class="ion-margin-top">
          <ion-button color="success" expand="block" (click)="onFormSubmit()">Submit</ion-button>
        </div>
        
      </form>
  
  
    </div>
  </ion-content>